.App {
  text-align: center;
}

.App-logo {
  height: 140px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.canvas-wrapper {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

.canvas-wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
}
